<a href="https://colab.research.google.com/github/shubham1406/CODSOFT/blob/main/CreditCard_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv("/content/creditcard.csv")

In [ ]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
9960,14837,1.286884,-0.124610,0.148283,-0.259343,0.248357,0.896718,-0.626627,0.227693,1.618678,...,-0.381864,-0.904515,-0.027985,-1.743540,0.090885,0.870425,-0.084116,-0.022744,12.18,0.0
9961,14854,1.318742,0.496408,0.114876,0.695262,0.170133,-0.537180,0.025492,-0.272931,1.267298,...,-0.484943,-1.111176,0.028259,-0.549934,0.328634,0.106061,-0.046154,0.017304,1.78,0.0
9962,14857,1.241757,0.419587,0.806183,0.894811,-0.507886,-1.118126,0.018908,-0.343335,1.210781,...,-0.379396,-0.817785,0.181425,0.662879,0.172535,0.033636,-0.051084,0.017208,1.29,0.0
9963,14861,1.304800,-0.052885,0.415235,-0.081725,-0.223525,0.097752,-0.561240,0.067228,1.617203,...,-0.379597,-0.929204,0.020955,-0.877006,0.084384,0.807465,-0.099851,-0.015404,4.72,0.0
9964,14864,-1.747939,3.712444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9965 entries, 0 to 9964
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    9965 non-null   int64
 1   V1      9965 non-null   float64
 2   V2      9965 non-null   float64
 3   V3      9964 non-null   float64
 4   V4      9964 non-null   float64
 5   V5      9964 non-null   float64
 6   V6      9964 non-null   float64
 7   V7      9964 non-null   float64
 8   V8      9964 non-null   float64
 9   V9      9964 non-null   float64
 10  V10     9964 non-null   float64
 11  V11     9964 non-null   float64
 12  V12     9964 non-null   float64
 13  V13     9964 non-null   float64
 14  V14     9964 non-null   float64
 15  V15     9964 non-null   float64
 16  V16     9964 non-null   float64
 17  V17     9964 non-null   float64
 18  V18     9964 non-null   float64
 19  V19     9964 non-null   float64
 20  V20     9964 non-null   float64
 21  V21     9964 non-null   float64
 22  V22     9964 non-null   float64
 23  V23     9964 non-null   float64
 24  V24     9964 non-null   float64
 25  V25     9964 non-null   float64
 26  V26     9964 non-null   float64
 27  V27     9964 non-null   float64
 28  V28     9964 non-null   float64
 29  Amount  9964 non-null   float64
 30  Class   9964 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 2.4 MB

In [ ]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,9965.000000,9965.000000,9965.000000,9964.000000,9964.000000,9964.000000,9964.000000,9964.000000,9964.000000,9964.000000,...,9964.000000,9964.000000,9964.000000,9964.000000,9964.000000,9964.000000,9964.000000,9964.000000,9964.000000,9964.000000
mean,5934.484897,-0.241681,0.280693,0.906359,0.260247,-0.046342,0.132335,-0.071847,-0.065317,0.801220,...,-0.052099,-0.152091,-0.033426,0.021638,0.087302,0.108328,0.005614,0.003051,62.968359,0.003814
std,4449.407112,1.522695,1.308882,1.156948,1.440500,1.183634,1.307586,1.077872,1.260140,1.156424,...,0.914735,0.631310,0.488203,0.593818,0.428128,0.562661,0.411434,0.266532,184.626707,0.061641
min,0.000000,-27.670569,-34.607649,-15.496222,-4.657545,-32.092129,-23.496714,-26.548144,-23.632502,-6.329801,...,-11.468435,-8.527145,-15.144340,-2.512377,-2.577363,-1.338556,-7.976100,-3.509250,0.000000,0.000000
25%,2061.000000,-1.012157,-0.208591,0.412198,-0.615591,-0.643060,-0.630075,-0.542336,-0.190495,0.069439,...,-0.268191,-0.548412,-0.174222,-0.327438,-0.157704,-0.328193,-0.084489,-0.015751,5.000000,0.000000
50%,4547.000000,-0.372624,0.286179,0.943149,0.218492,-0.153090,-0.153577,-0.054658,0.012466,0.804930,...,-0.123101,-0.136078,-0.046009,0.079935,0.121180,0.043395,-0.004505,0.015904,15.950000,0.000000
75%,10163.000000,1.151506,0.900823,1.601871,1.119367,0.371762,0.503376,0.476280,0.273016,1.506066,...,0.032707,0.247913,0.081288,0.410877,0.359418,0.478249,0.121045,0.077418,50.792500,0.000000
max,14864.000000,1.960497,8.636214,4.101716,10.463020,34.099309,21.393069,34.303177,5.060381,10.392889,...,22.588989,4.534454,13.876221,3.200201,5.525093,3.517346,8.254376,4.860769,7712.430000,1.000000

In [ ]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        1
V4        1
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
df["V3"].fillna(df['V3'].mode()[0],inplace = True)

In [ ]:
df["V4"].fillna(df['V4'].mode()[0],inplace = True)

In [ ]:
df["V5"].fillna(df['V5'].mode()[0],inplace = True)

In [ ]:
df["V6"].fillna(df['V6'].mode()[0],inplace = True)

In [ ]:
df["V7"].fillna(df['V7'].mode()[0],inplace = True)

In [ ]:
df["V8"].fillna(df['V8'].mode()[0],inplace = True)

In [ ]:
df["V9"].fillna(df['V9'].mode()[0],inplace = True)

In [ ]:
df["V10"].fillna(df['V10'].mode()[0],inplace = True)

In [ ]:
df["V11"].fillna(df['V11'].mode()[0],inplace = True)
df["V12"].fillna(df['V12'].mode()[0],inplace = True)
df["V13"].fillna(df['V13'].mode()[0],inplace = True)
df["V14"].fillna(df['V14'].mode()[0],inplace = True)
df["V15"].fillna(df['V15'].mode()[0],inplace = True)
df["V16"].fillna(df['V16'].mode()[0],inplace = True)
df["V17"].fillna(df['V17'].mode()[0],inplace = True)
df["V18"].fillna(df['V18'].mode()[0],inplace = True)
df["V19"].fillna(df['V19'].mode()[0],inplace = True)
df["V20"].fillna(df['V20'].mode()[0],inplace = True)

In [ ]:
df["V21"].fillna(df['V21'].mode()[0],inplace = True)
df["V22"].fillna(df['V22'].mode()[0],inplace = True)
df["V23"].fillna(df['V23'].mode()[0],inplace = True)
df["V24"].fillna(df['V24'].mode()[0],inplace = True)
df["V25"].fillna(df['V25'].mode()[0],inplace = True)
df["V26"].fillna(df['V26'].mode()[0],inplace = True)
df["V27"].fillna(df['V27'].mode()[0],inplace = True)
df["V28"].fillna(df['V28'].mode()[0],inplace = True)
df["Amount"].fillna(df['Amount'].mode()[0],inplace = True)
df["Class"].fillna(df['Class'].mode()[0],inplace = True)

In [ ]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
#Distribution of legit transactions & fraudulent transactions
df['Class'].value_counts()

0.0    9927
1.0      38
Name: Class, dtype: int64

This dataset is unbalanced 0--> Normal transactions 1--> fraudulent transactions

[ ]

In [ ]:
# separating data for the analysis
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [ ]:
print(legit.shape)

(9927, 31)

In [ ]:
print(fraud.shape)

(38, 31)

In [ ]:
legit.Amount.describe()

count    9927.000000
mean       62.913264
std       184.033075
min         0.000000
25%         5.155000
50%        15.950000
75%        51.045000
max      7712.430000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count      38.000000
mean       75.730526
std       304.521215
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
#Compare the values for both transactions
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,5922.508512,-0.235729,0.267180,0.934261,0.239387,-0.041467,0.141189,-0.057595,-0.069908,0.812991,...,0.026116,-0.055132,-0.152003,-0.033490,0.023241,0.087582,0.107460,0.003648,0.001699,62.913264
1.0,9063.157895,-1.796662,3.810809,-6.415255,5.618146,-1.247563,-2.111328,-3.777261,1.150469,-2.276505,...,0.467700,0.741934,-0.164628,-0.024469,-0.371142,0.018063,0.310646,0.525443,0.355663,75.730526

Under sampling method is use for unbalanced data

Building a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

In [ ]:
legit_sample = legit.sample(n=38)

Concatinating two Dtaframes

In [ ]:
new_dataset =pd.concat([legit_sample, fraud],axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
4234,3753,1.188479,-1.035593,-1.038655,-1.526828,1.349599,3.314400,-1.024162,0.681756,0.347130,...,-0.211344,-0.956414,-0.015875,0.925675,0.316571,-0.520133,-0.040750,0.034626,152.15,0.0
1731,1343,1.309731,0.261123,-0.063052,0.509102,-0.048230,-0.621023,0.014034,-0.103005,0.221983,...,-0.351157,-1.056023,0.033325,-0.532165,0.297227,0.149706,-0.030249,0.020746,4.26,0.0
912,688,1.111374,-0.316968,0.967230,0.778212,-0.839517,0.036541,-0.528054,0.064768,0.885291,...,-0.087394,-0.157865,-0.090201,-0.087804,0.322522,0.342063,0.008855,0.032722,64.99,0.0
5728,6039,1.440684,-0.708051,0.510366,-0.730420,-0.857542,0.102351,-1.188871,-0.005334,1.125759,...,0.138805,0.525128,-0.267699,-1.047221,0.552000,-0.000215,-0.000706,0.006418,29.95,0.0
6877,8795,-1.429396,-0.019205,2.575747,1.546386,-0.234317,0.904146,0.019126,0.238693,0.888944,...,0.148581,0.741454,-0.061315,0.012140,0.245300,-0.098088,-0.005682,0.169272,163.08,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
9035,12597,-2.589617,7.016714,-13.705407,10.343228,-2.954461,-3.055116,-9.301289,3.349573,-5.654212,...,1.887738,0.333998,0.287659,-1.186406,-0.690273,0.631704,1.934221,0.789687,1.0,1.0
9179,13126,-2.880042,5.225442,-11.063330,6.689951,-5.759924,-2.244031,-11.199975,4.014722,-3.429304,...,2.002883,0.351102,0.795255,-0.778379,-1.646815,0.487539,1.427713,0.583172,1.0,1.0
9252,13323,-5.454362,8.287421,-12.752811,8.594342,-3.106002,-3.179949,-9.252794,4.245062,-6.329801,...,1.846165,-0.267172,-0.310804,-1.201685,1.352176,0.608425,1.574715,0.808725,1.0,1.0
9487,14073,-4.153014,8.204797,-15.031714,10.330100,-3.994426,-3.250013,-10.415698,4.620804,-5.711248,...,1.976988,0.256510,0.485908,-1.198821,-0.526567,0.634874,1.627209,0.723235,1.0,1.0
9509,14152,-4.710529,8.636214,-15.496222,10.313349,-4.351341,-3.322689,-10.788373,5.060381,-5.689311,...,1.990545,0.223785,0.554408,-1.204042,-0.450685,0.641836,1.605958,0.721644,1.0,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    38
1.0    38
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,4064.973684,-0.104115,0.423106,0.801914,-0.220523,-0.050415,0.110060,0.068574,0.057762,0.614725,...,0.104269,-0.082285,-0.153740,-0.106241,-0.087606,0.143338,0.047762,0.020429,0.017252,45.602368
1.0,9063.157895,-1.796662,3.810809,-6.415255,5.618146,-1.247563,-2.111328,-3.777261,1.150469,-2.276505,...,0.467700,0.741934,-0.164628,-0.024469,-0.371142,0.018063,0.310646,0.525443,0.355663,75.730526

In [ ]:
#Splitting the data into Features & Targets
x=new_dataset.drop(columns='Class',axis=1)
y=new_dataset['Class']

In [ ]:
print(x)

       Time        V1        V2         V3         V4        V5        V6  \
4234   3753  1.188479 -1.035593  -1.038655  -1.526828  1.349599  3.314400
1731   1343  1.309731  0.261123  -0.063052   0.509102 -0.048230 -0.621023
912     688  1.111374 -0.316968   0.967230   0.778212 -0.839517  0.036541
5728   6039  1.440684 -0.708051   0.510366  -0.730420 -0.857542  0.102351
6877   8795 -1.429396 -0.019205   2.575747   1.546386 -0.234317  0.904146
...     ...       ...       ...        ...        ...       ...       ...
9035  12597 -2.589617  7.016714 -13.705407  10.343228 -2.954461 -3.055116
9179  13126 -2.880042  5.225442 -11.063330   6.689951 -5.759924 -2.244031
9252  13323 -5.454362  8.287421 -12.752811   8.594342 -3.106002 -3.179949
9487  14073 -4.153014  8.204797 -15.031714  10.330100 -3.994426 -3.250013
9509  14152 -4.710529  8.636214 -15.496222  10.313349 -4.351341 -3.322689

             V7        V8        V9  ...       V20       V21       V22  \
4234  -1.024162  0.681756  0.347130  ...  0.446449 -0.211344 -0.956414
1731   0.014034 -0.103005  0.221983  ... -0.105005 -0.351157 -1.056023
912   -0.528054  0.064768  0.885291  ...  0.063136 -0.087394 -0.157865
5728  -1.188871 -0.005334  1.125759  ...  0.068219  0.138805  0.525128
6877   0.019126  0.238693  0.888944  ...  0.170329  0.148581  0.741454
...         ...       ...       ...  ...       ...       ...       ...
9035  -9.301289  3.349573 -5.654212  ...  1.488855  1.887738  0.333998
9179 -11.199975  4.014722 -3.429304  ...  1.191444  2.002883  0.351102
9252  -9.252794  4.245062 -6.329801  ...  1.305862  1.846165 -0.267172
9487 -10.415698  4.620804 -5.711248  ...  1.412625  1.976988  0.256510
9509 -10.788373  5.060381 -5.689311  ...  1.434240  1.990545  0.223785

           V23       V24       V25       V26       V27       V28  Amount
4234 -0.015875  0.925675  0.316571 -0.520133 -0.040750  0.034626  152.15
1731  0.033325 -0.532165  0.297227  0.149706 -0.030249  0.020746    4.26
912  -0.090201 -0.087804  0.322522  0.342063  0.008855  0.032722   64.99
5728 -0.267699 -1.047221  0.552000 -0.000215 -0.000706  0.006418   29.95
6877 -0.061315  0.012140  0.245300 -0.098088 -0.005682  0.169272  163.08
...        ...       ...       ...       ...       ...       ...     ...
9035  0.287659 -1.186406 -0.690273  0.631704  1.934221  0.789687    1.00
9179  0.795255 -0.778379 -1.646815  0.487539  1.427713  0.583172    1.00
9252 -0.310804 -1.201685  1.352176  0.608425  1.574715  0.808725    1.00
9487  0.485908 -1.198821 -0.526567  0.634874  1.627209  0.723235    1.00
9509  0.554408 -1.204042 -0.450685  0.641836  1.605958  0.721644    1.00

[76 rows x 30 columns]

In [ ]:
print(y)

4234    0.0
1731    0.0
912     0.0
5728    0.0
6877    0.0
       ...
9035    1.0
9179    1.0
9252    1.0
9487    1.0
9509    1.0
Name: Class, Length: 76, dtype: float64

Spliting the data into Traning data & Testing data

In [ ]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.2,stratify = y,random_state=2)

In [ ]:
print(x.shape,x_train.shape,x_test.shape)

(76, 30) (60, 30) (16, 30)

Model Training (Logist Regression Model)

In [ ]:
model =LogisticRegression()

In [ ]:
#Training the Logistic Regression Model for Training data
model.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

In [ ]:
#accuracy on traning data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [ ]:
print('Accuracy on Training Data :',training_data_accuracy)

Accuracy on Training Data : 1.0

In [ ]:
#accuracy on testing data
x_test_prediction = model.predict(x_test)
testing_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [ ]:
print('Accuracy on Testing Data :',testing_data_accuracy)

Accuracy on Testing Data : 0.9375